body {
    background-color: #181F22;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
}

.controls {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

input, select, button {
    background-color: #0e1214;
    color: white;
    border: 1px solid #444;
    padding: 10px;
    font-size: 16px;
    margin: 0 5px;
    border-radius: 5px;
}

input {
    width: 300px;
}

select {
    min-width: 100px;
}

button {
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #1c2528;
}

#status-container {
    background-color: #0e1214;
    border: 1px solid #444;
    padding: 15px;
    border-radius: 5px;
    width: 450px;
    min-height: 150px;
    box-sizing: border-box;
    overflow-y: auto;
}

#progress-output {
    color: #ccc;
    font-family: "Courier New", Courier, monospace;
    white-space: pre-wrap;
    word-wrap: break-word;
    margin: 0;
}